html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: small/1.6em "Lucida Grande", Verdana, Arial, sans-serif;
	background: #cf6e7e; /* #333333, #e2798a, #cf6e7e*/
	color: #fff;
}

body * {
	margin: 0;
	padding: 0;
}

a:link {
	color: #D5DAA3;
}

a:visited {
	color: #D5DAA3;
}

a:hover {
	color: black;
	background-color: #D5DAA3;
}

img {
	border: none;
}

h1	{
	height: 0;
	text-indent: -4000px;
}

h2 {
	padding: 5px;
	font-size: 1.4em;
	font-weight: normal;
	color: #ffffff;
	background: #b86976;
	width: auto;
	margin: -10px;
	margin-bottom: 1em;
}

h3 {
	margin: 0 0 1em 0;
	font-weight: normal;
	text-decoration: underline;
}

ol {
	margin-bottom: 2em;
		list-style-position: inside;

}

ol li {
	margin-bottom: 0.8em;
}

#content {
	width: 250px;
	margin: 1em auto 100px auto;
	text-align: left;
	background: #d37c8b;
	padding: 10px;
}

img.logo {
	margin: 1em auto;
}

blockquote {
	font-size: 1.4em;
	line-height: 1.3em;
	color: #D5DAA3;
	margin: 2em auto 1em auto;
	padding: 1em 0;
	padding-left: 30px;
	float: none;
	clear: both;
}

blockquote p {
	margin-top: 10px;
}

cite {
	letter-spacing: normal;
	color: #431516;
	font-family: "Courier New", Courier, mono;
	background: #f5e2e5;
	padding: 2px;
	font-size: 14px;
}

cite em {
	font-size: 0.6em;
}

cite a:link {
	font-size: 0.6em;
	color: #779094;
}

cite a:hover {
	color: #000000;
}

p.match {
	font-size: 1.3em;
	line-height: 1.6em;
	border: 1px #f5e2e5 solid;
	padding: 5px;
}

.nobr {
	white-space: nowrap;
}